body {
    margin: 0;
    background-color: #161210;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    visibility:hidden;
}

* {
    -webkit-tap-highlight-color: transparent;
  }
  

p, h1 {
    margin: 0;
    font-family: 'Inter';
}

.flex {
    display: flex;
}

.stats-bar {
    position: fixed;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 999;
    background-color: #161210;
    padding: 7.5%;
}

.money, .hearts, .exp {
    padding: 20px 25px;
    background-color: #433833;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.progress-bar-container {
    height: 4px;
    width: 100%;
    background-color: #161210;
    border-radius: 100px;
}

.progress {
    height: 100%;
    border-radius: 100px;
}

.stats-bar span {
    gap: 15px;
}

.stats-bar p {
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.quest-container {
    flex-direction: column;
    width: 85%;
    background-color: #2C2521;
    border: 1px solid white;
    border-radius: 30px;
    padding: 25px;
    margin: 0 0 20px 0;
    opacity: 1;
    transition: opacity 0.5s linear;
}
.quest-description{
    margin-bottom: 20px;
}
.quest-title {

    justify-content: space-between;
    padding: 10px 0;
}
.quest-body{
    overflow: hidden;
    transition: max-height 1.2s ease-in-out;
}
 .op0{
    opacity: 0 !important;
}
.quest-container h1 {
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.no-animation  * {
    animation: none !important;
    transition: none !important;
}

.quest-container p {
    text-align: left;
    font-size: 16px;
    color: white;
    opacity: .7;
    font-weight: 400;
}

.reward {
    padding: 20px 25px;
    background-color: #433833;
    border-radius: 30px;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    display: flex;
}

.reward-container {
    gap: 15px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
}

.reward {
    flex-grow: 1;
}
#locked-quests-container{
    width: 85%;
}
.locked-quest {
    background-color: #2C2521;
    border: 1px solid white;
    border-radius: 30px;
    padding: 25px;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    margin: 0 0 20px 0;
    opacity: 1;
    transition: fadeinout 1s linear; 
}

.completed-quest h1 {
    text-decoration: line-through;
    color: white;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 600;
}

.completed-quest {
    background-color: #2C2521;
    border: 1px solid white;
    border-radius: 30px;
    padding: 25px;
    box-sizing: border-box;
    gap: 15px;
    width: 85%;
    justify-content: center;
}
#quests-container{
    padding: 25px 25px 0 25px;
    width: 100%;
    box-sizing: border-box;
    text-align: -webkit-center;
    
}
.quest-complete {
    display: flex;
    width: 100%;
    background-color: #FF8A00;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px 0;
    justify-content: center;
    margin-top: 10px;
}

.quest-complete h1 {
    font-weight: 600;
    font-family: 'EB Garamond';
    font-size: 18px;
}

.navbar {
    -webkit-box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.2); 
    box-shadow: 0px 5px 25px 4px rgba(0,0,0,0.2);
    background-color: #433833;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    width: 85%;
    justify-content: space-between;
    position: fixed;
    bottom: 40px;
}

.navbar img {
    width: auto;
    height: 20px;
    padding: 20px;
    border-radius: 10px;
}

.active {
    background-color: #FF8A00;
}

.icon {
    height: 19px;
    width: auto;
}

.navbar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#flush-key {
    padding: 15px 25px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: #211C19;
    color: white;
    font-family: 'Inter';
}

.danger-zone {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 85%;
    box-sizing: border-box;
    justify-content: center;
}

.flush-button {
    display: flex;
    width: 100%;
    background-color: #FF8A00;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px 0;
    justify-content: center;
}

.flush-button h1 {
    color: white;
    font-weight: 600;
    font-family: 'EB Garamond';
    font-size: 18px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 45%;
    padding-top: 35%;
}

.lock-img{
    opacity: 1;
    transition: opacity 1s linear;
}
.hidden {
    display: none;
}
.reduced{
    max-height: 0px !important;
}

div.completed div.quest-complete{
    background-color:grey;
    pointer-events: none;
}
.completed-quest > h1.reward{
    text-decoration:line-through;
}
#level-up-animation {
    width: 65%;
    height: auto;
}

.levelup-section {
    background-color: rgba(0, 0, 0, 0.299);
    width: 100%;
    height: 100%;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    object-fit: cover;
    -webkit-animation: fadeinout 2812ms linear forwards;
    animation: fadeinout 2812ms linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    15%,85% { opacity: 1; }
}
  
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
    15%,85% { opacity: 1; }
}

.profile-container {
    align-items: center;
    flex-direction: column;
    width: 85%;
    background-color: #2C2521;
    border: 1px solid white;
    border-radius: 30px;
    padding: 25px;
    box-sizing: border-box;
    gap: 20px;
}

.introduction-text {
    background-color: rgba(0, 0, 0, 0.685);
    opacity: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    transition: opacity 1s ease-out, backdrop-filter 1s ease-out ;
    opacity: 1;
}

.introduction-text p {
    color: white;
    font-family: 'Inter';
    font-size: 16px;
    width: 85%;
    text-align: center;
}
#title-page-body{
    background-image: url(../img/icons/titlescreen.png); 
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    margin: 0;
}
#hidden-popup-box{
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    object-fit: cover;
    transition :opacity 1s ease,backdrop-filter 1s ease-in-out 
}
#box-content{
    background: #2C2522;
    padding: 35px 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 1px solid white;
    border-radius: 30px;
    width: 85%;
    box-sizing: border-box;
    opacity: 1;
}
#hidden-popup-box button{
    font-weight: 600;
    font-family: 'EB Garamond';
    font-size: 18px;
    color: white;
}
.box-textbox{
    background-color: #433833;
    display: flex;
    width: 100%;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px 25px;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    border: none;
    color: white;
    font-family: 'Inter';
}

.box-textbox:focus {
    outline: none;
}

#box-title{
    color:white;
    font-weight: 600;
    font-size: 18pt;
}

.hide-popup {
    opacity: 0;
}
.show-popup {
    opacity: 1; /* Transizione per rendere visibile */
}

#box-description{
    color:white
}

#box-body {
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-button {
    display: flex;
    background-color: #FF8A00;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px 30px;
    border: none;
    justify-content: center;
}

.code-button h1 {
    font-weight: 600;
    font-family: 'EB Garamond';
    font-size: 18px;
}
.background-blur{
    backdrop-filter: blur(3px);
}

#profile-name {
    color: white;
    font-size: 18px;
}

#profile-description {
    color: #CAC8C8;
    text-align: center;
    font-size: 16px;
}

.profile-text-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inventory-container {
    width: 100%;
}

.inventory-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 35%;
    padding-bottom: 45%;
    gap: 25px;
}

#inventory-title {
    color: white;
    font-size: 18px;
}

#shop-title {
    color: white;
    font-size: 18px;
}

.inventory-container {
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
}

.inventory-items {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.inventory-item {
    background-color: #433833;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 17.5px;
}

.inventory-item p {
    color: white;
    font-size: 16px;
}

.inventory-item img {
    height: 30px;
}
.hidden-item > *{
    opacity: 0;
}
.hidden-item{
    background-color: #211C19
}

.shop-container {
    align-items: center;
    flex-direction: column;
    width: 85%;
    background-color: #2C2521;
    border: 1px solid white;
    border-radius: 30px;
    padding: 25px;
    box-sizing: border-box;
    gap: 20px;
}

.item-price {
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.item-price img {
    height: 15px;
    width: 15px;
}

.party-element {
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    gap: 10px;
    width: 85%;
    border-radius: 30px;
    border: 1px solid white;
    background-color: #2C2522;
    padding: 20px 30px 20px 10px;
    box-sizing: border-box;
}

.party-element img {
    height: 65px;
}

.party-info-wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

.party-info-wrap-column {
    display: flex;
    justify-content: space-between;
}

.party-info-wrap-column h1 {
    color: white;
    font-size: 18px;
}

.party-info-wrap-column span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.party-level p {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.party-level img {
    height: 20px;
}

.party-level-bar-container {
    height: 5px;
    background-color: #161210;
    border-radius: 50px;
    width: 100%;
}

.party-level-bar-progress {
    background-color: #2CD4EB;
    height: 5px;
    border-radius: 50px;
    width: 50%;
}

.party-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 45%;
    padding-top: 35%;
    gap: 20px;
}